<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.analytics.property }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ config.extra.analytics.property }}');

  // Track page views on navigation
  document.addEventListener("DOMContentLoaded", function() {
    if (typeof location$ !== "undefined") {
      location$.subscribe(function(url) {
        gtag('event', 'page_view', {
          page_path: url.pathname
        });
      });
    }
  });
</script>
