.sidebar {
    opacity: 1 !important;
    :hover {
        opacity: 1 !important;
    }
}
.doc-category {
    color: #18253d !important;
    margin-bottom: 10px;
    :last-of-type {
        margin-bottom: 0;
    }

    &__title {
        user-select: none;
        cursor: pointer;
        position: relative;
        font-size: 16px;
        color: #18253d;
        &::after {
            font-size: 9px;
            content: "\25B6";
            position: absolute;
            right: -15px;
            top: 5px;
        }
    }
    &__caret-down {
        &::after {
            font-size: 9px;
            content: "\25B6";
            position: absolute;
            right: -15px;
            top: 5px;
            transform: rotate(90deg);
        }
    }
    &__sub-nav {
        display: none;
        margin-left: 10px;
    }
    &__sub-nav--active {
        display: block;
    }
    &__li a {
        text-decoration: none !important;
        font-size: 14px;
        color: #18253d;
        font-weight: unset !important;
    }
}
