.grid-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 160rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 14rem);
  vertical-align: middle;
}

.grid-container .card {
  display: flex;
  border: 0.2rem solid;
  border-radius: 1rem;
  height: 6rem;
  width: 14rem;
  font-size: large;
  font-weight: 600;
  vertical-align: middle;
  align-items: center;
}

.grid-container .card-use-case {
  font-size: large;
}

.grid-container .card > img {
  width: 4rem;
  height: auto;
  border-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#__nav_1_label {
  display: none;
}
