// As its not easy to override the main material themes contents we need to do some nasty modification to styles
// This file contains the overrides we need to make a minimal static page in the style of the original site

@import "_faq";
@import "_syntax";

.static {
  font-family: "DMSans", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  color: #0f0f0f;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;

  a {
    text-decoration: none;

    &:not(header a) {
      color: #2d69f6;
    }
  }

  .page__footer {
    color: $dark-milk;
    animation: intro 0.3s both;
    animation-delay: 0.45s;
    background-color: #f8f7f9;
    overflow: hidden;

    footer {
      margin: 1em auto;
      padding: 0 1em 2em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .fa {
      color: mix(#fff, $gray, 25%);
    }
  }

  .page__footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    .short-logo {
      width: 114px;
      height: 39px;
    }

    .footer-copyright-description {
      margin-top: 0.8rem;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }

    .footer-social-links {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 1.2rem 0 0 0;
      padding: 0;

      li {
        margin: 0 0 0 15px !important;

        &:first-child {
          margin-left: 0 !important;
        }
      }
    }
  }
}

.codeTabDescription {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

.code-tabs-main-example {
  padding: 12px;
}

.code-tabs-main-example .highlight {
  background: #F0F5FF;
  border: 1px solid #D2DFF9;
  box-sizing: border-box;
  border-radius: 8px;
}

.codeSnippet {
  display: none;
  width: 100%;
  position: relative;
  padding: 24px;

  pre {
    padding: 24px;
  }

  .highlight {
    margin: 1em 0;
  }
}

.codeSnippet.activeCodeSnippet {
display: block;
}

.code-tabs-main {
  width: 1018px;
}

@media (max-width:670px) {
  .code-tabs-main {
    width: 100% !important;
  }
}
