
<style>
  .slack-help-box {
    background-color: #f2f2f2;
    border: #c8c8c8 1px solid;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: inline;
    margin-bottom: 1cm;
  }

  .slack-help-box a {
      font-size: normal;
      width: max-content;
      height: max-content;
      color: black;
      text-decoration: none !important; 
  }

  .slack-help-box a div {
    display: inline;
    padding-right: 10px;
    color: inherit;
  }

  .slack-help-box a div img {
    vertical-align: sub;
    height: 22px;
    width: 22px;
  };
</style>

<div class="sidebar">
  <div class="slack-help-box">
    <a href="{{site.community_slack.join_url}}">
      <div>
        <img src="{{ '/images/slack-logo-medium.png' | absolute_url }}" alt="Slack logo"/>
      </div>
      <div>
        Need help?
      </div>
    </a>
  </div>
  <nav class="nav__list">
    <ul class="doc-categories">
      {% for doc_category in site.data.doc-categories %}
      {% assign current_page = doc_category[1].pages | where_exp: "docpage", "page.url contains docpage" %}
        <li class="doc-category">
          <span {% if current_page.link == page.url %}class="doc-category__li doc-category__li--selected"{% else %}class="doc-category__li"{% endif %}>
            {% if doc_category[1].link %}
              <a href="{{ doc_category[1].link | absolute_url }}">{{ doc_category[1].title }}</a>
            {% else %}
              {{ doc_category[1].title }}
            {% endif %}
          </span>
          <ul class="
          doc-category__sub-nav
          {% if current_page.first %}doc-category__sub-nav--active{% endif %}
          ">
            {% for page_id in doc_category[1].pages %}
              {% assign full_page_id = '/docs/' | append: page_id %}
              {% assign doc = site.docs | find: "id", full_page_id %}
              {% assign doc_title = doc.title | remove: doc_category[1].title | remove: " - " | remove: " [Tutorial]" %}
              
              {% if doc.url == page.url %}<li class="doc-category__li doc-category__li--selected">{% else %}<li class="doc-category__li">{% endif %}
                <a href="{{ doc.url | absolute_url }}">{{ doc_title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

  </nav>
</div>
