{% include base_path %}

<div class="page__footer-copyright">
  <img src="{{ base_path}}/images/shortLogo.png" class="short-logo"/>
  
  <span class="footer-copyright-description">&copy; {{ site.time | date: '%Y' }} 
  {{ site.title }}. {{ site.data.ui-text[site.locale].powered_by }} UP9
  </span>
  
  <ul class="footer-social-links">
    <li>
      <a href="http://github.com/{{ site.author.github }}" target="_blank">
        <img src="{{ base_path}}/images/githubIcon.svg" />
      </a>
    </li>
    <li>
      <img src="{{ base_path}}/images/slackIcon.svg" />
    </li>
    
    <li>
      <img src="{{ base_path}}/images/twitterIcon.svg" />
    </li>
  </ul>
</div>

<script src="{{ base_path}}/assets/js/mobile-navbar.js"></script>
<script src="{{ base_path}}/assets/js/codeTab.js"></script>
<script src="{{ base_path}}/assets/js/homeHeaderCard.js"></script>
