{% include base_path %}

<div class="page__footer-copyright">
  <img src="{{ base_path}}/images/shortLogo.png" class="short-logo"/>
  
  <span class="footer-copyright-description">&copy; {{ site.time | date: '%Y' }}</span>
  
  <ul class="footer-social-links">
    {% include social-link-items.html %}
  </ul>
</div>

<script src="{{ base_path}}/assets/js/mobile-navbar.js"></script>
<script src="{{ base_path}}/assets/js/codeTab.js"></script>

<script src="{{ base_path}}/assets/js/sidebar-docs.js"></script>
<script src="{{ base_path}}/assets/js/tracking-events.js"></script>
