{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a href="{{ base_path }}/"><img src="{{ base_path}}/images/wireMockLogo.png" style="width: 160px; height: 20px" /></a>
      <nav id="site-nav" class="greedy-nav">
        <!-- <button><div class="navicon"></div></button> -->
        <ul class="visible-links">
          
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}

            {% if link.new_window %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a></li>
            {% else %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endif %}

          {% endfor %}

          
        </ul>
        <!-- <ul class="hidden-links hidden"></ul> -->
      </nav>
      <ul class="social-links">
        <li>
          <img src="{{ base_path}}/images/githubIcon.svg" />
        </li>
        <li>
          <img src="{{ base_path}}/images/slackIcon.svg" />
        </li>
        
        <li>
          <img src="{{ base_path}}/images/twitterIcon.svg" />
        </li>
      </ul>
    </div>
  </div>
</div>
