{% include base_path %}

<style>
  .navlink {
    position: relative !important;
    color: #7d93bd;
    padding-bottom: 0.9rem;
    cursor: pointer;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .divSubNav {
    position: relative;
    cursor: default;
    padding: 10px 15px;
    display: none;
    position: absolute;
    content: "";
    left: 0;
    top: 32px;
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px -5px 20px rgba(210, 223, 249, 0.5);
  }

  .divSubNav::before {
    position: absolute;
    content: "";
    left: 15px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
    top: -7px;
  }

  .divSubNav a {
    padding: 0 !important;
    margin: 0 0 5px 0;
    width: fit-content !important;
  }

  .divSubNav a:last-child {
    margin-bottom: 0;
  }

  .divSubNav a::before {
    background: none !important;
    
  }

  .navlink:hover > .divSubNav {
    display: block;
  }

  .navlink::before {
    background: unset !important;
  }
  .navHover::before {
    background: unset !important;
  }
</style>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a href="/"><img src="{{ base_path}}/images/wireMockLogo.png" style="width: 160px; height: 20px" /></a>
      <nav id="site-nav" class="greedy-nav">
        <!-- <button><div class="navicon"></div></button> -->
        <ul class="visible-links">
          
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}

            {% if link.subnav %} 
              {% assign subnavLink = "navlink" %}
              {% assign subnav = link.subnav %} 
              {% else %}
              {% assign subnavLink = "base_path" %}
              {% assign subnav = "" %} 
            {% endif %}

            {% if link.new_window %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>
            </li>
            {% else %}
            
            <li class="masthead__menu-item">
              {% if link.subnav %}
                <span class="{{subnavLink}}">
                  {{ link.title }}

                  {% if link.subnav %}
                  <div class="divSubNav">
                    {% for subnavigation in link.subnavLinks %}
                      <a href="{{ subnavigation.subnavLink }}">
                        {{ subnavigation.name }}
                      </a>
                    {% endfor %}
                  </div>
                  {% endif %}
                </span>
              {% else %}
                <a class="{{subnavLink}} navHover" href="{{ domain }}{{ link.url }}" title="{{ link.title }}">
                  {{ link.title }}
                </a>
              {% endif %}
              
            </li>
            
            {% endif %}

          {% endfor %}

          <li class="masthead__menu-item">
            <a class="navHover" href="https://get.mocklab.io?utm_source=wiremock.org&utm_medium=masthead&utm_campaign=homepage_2022_baseline" title="MockLab">
              <img src="/images/mocklab_logo_transparent.png" alt="MockLab logo" style="vertical-align: top;height: 20px;margin-right: 2px;"/>
              MockLab
            </a>
          </li>
        </ul>
        
      </nav>
      <ul class="social-links">
        {% include social-link-items.html %}
        <img class="separator-line-nav" src="{{base_path}}/images/separatorLine.png" alt="separator line"/>
        <span class="schedule-demo-nav">Schedule a call</span>
      </ul>
      <img id="hamburgerMenuIcon" class="hamburgerMenuIcon" src="{{ base_path}}/images/hamburgerMenuIcon.svg" />
      <div id="overlay-menu" class="overlay-menu"></div>
      <div class="mobile-menu-wrapper">
        <img id="closeMenuIcon" class="closeMenuIcon" src="{{ base_path}}/images/closeMenuIcon.svg" />
        <ul>
          <li><a href="/docs">Wiremock Open Source</a></li>
          <li><a href="/studio/docs">WireMock Studio</a></li>
          <li>
              <a href="https://get.mocklab.io?utm_source=wiremock.org&utm_medium=masthead&utm_campaign=homepage_2022_baseline" title="MockLab">
              <img src="/images/mocklab_logo_transparent.png" alt="MockLab logo" style="vertical-align: top;height: 20px;margin-right: 2px;"/>
              MockLab
            </a>
          </li>
          <li><a href="/support">Support</a></li>
          <li><a href="https://github.com/wiremock/wiremock" target="_blank">Github</a></li>
          <li><a href="https://github.com/wiremock/wiremock/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a></li>
          <li><a href="/external-resources">Resources</a></li>
          <li><span class="schedule-demo-mobile-nav">Enterprise</span></li>
        </ul>
        <ul class="mobile-social-links">
          {% include social-link-items.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
