
<div class="sidebar">
  <nav class="nav__list">
    <ul class="doc-categories">
      {% for doc_category in site.data.studio-doc-categories %}
        {% assign current_page = doc_category[1].pages | where_exp: "docpage", "page.url contains docpage" %}
        <li class="doc-category">
          <span class="doc-category__title">{{ doc_category[1].title }}</span>
          <ul
           class="
           doc-category__sub-nav
           {% if current_page.first %}doc-category__sub-nav--active{% endif %}
           ">
            {% for page_id in doc_category[1].pages %}
              {% assign full_page_id = '/studio/docs/' | append: page_id %}
              {% assign doc = site.studio_docs | find: "id", full_page_id %}
              {% assign doc_title = doc.title | remove: doc_category[1].title | remove: " - " | remove: "WireMock Studio" | remove: " [Tutorial]" %}

              {% if doc.url == page.url %}<li class="doc-category__li doc-category__li--selected">{% else %}<li class="doc-category__li">{% endif %}
                <a href="{{ doc.url }}">{{ doc_title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

  </nav>
</div>
