/* ==========================================================================
   ANCHORS
   ========================================================================== */

.anchor {
	color: #888;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
	color: #3D598B;
}
