.codeTabDescription {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

.code-tabs-main-example .highlight {
  background: #f0f5ff;
  border: 1px solid #d2dff9;
  box-sizing: border-box;
  border-radius: 0;
}

.code-tabs-main-example pre {
  text-align: left;
}

.codeSnippet {
  display: none;
  width: 100%;
  position: relative;

  @include breakpoint($medium) {
    padding: $p-l;
  }

  &.activeCodeSnippet {
    display: block;
  }
}
