.home-hero {
  &__title {
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #18253d;
    text-align: left;
    text-align: center;
  }

  &__boxes {
    @media (min-width: 920px) {
      padding: 40px 0;
      display: flex;
    }
  }

  &__box {
    display: grid;
    flex-direction: column;
    flex: 1 0 50%;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-rows: min-content 1fr min-content;

    @media (min-width: 920px) {
      padding: 40px;
      margin-bottom: 0;
    }

    &--alt {
      background: #E4F0F7;
      border-radius: 15px;
    }

    p {
      font-family: "Ubuntu";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      color: #18253d;
      margin-top: 1rem;
    }
  }

  &__heading {
    margin: 0 0 20px;
    font-size: 40px;
    color: #18253d;

    @media (min-width: 920px) {
      font-size: 50px;
    }
  }
}

.hr {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 90%;

  @media (min-width: 920px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: 2000px) {
    width: 1280px;
  }

  position: relative;
  margin-left: auto;
  margin-right: auto;
}