.sidebar {
    opacity: 1 !important;
    margin-top: 25px;

    :hover {
        opacity: 1 !important;
    }
}
.doc-category {
    color: #18253d !important;
    margin-bottom: 10px;
    :last-of-type {
        margin-bottom: 0;
    }

    &__title {
        user-select: none;
        cursor: pointer;
        position: relative;
        font-size: 16px;
        color: #18253d;
    }
    
    &__sub-nav {
        margin-left: 10px;
        font-size: 18px;
    }
    &__sub-nav--active {
        display: block;
    }
    &__li a {
        text-decoration: none !important;
        color: #18253d;
        font-weight: unset;
    }
    &__li--selected a {
        font-weight: bold;
    }
}
