.splash,
.resources-container {
    h1,
    h2,
    h3,
    h4,
    ul,
    p {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    @include breakpoint($large) {
        padding: 50px 0;
    }

    @include breakpoint($x-large) {
        width: $x-large;
    }

    @include breakpoint($x2-large) {
        width: $x2-large;
    }

    margin-left: auto;
    margin-right: auto;
    

    h1 {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: bold;
        font-size: 2.8rem;
        color: #18253d;
        border: none !important;

        &:hover {
            border: none !important;
        }
    }

    h2 {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        color: #18253d;
        border: none !important;
        margin-top: 30px;

        &:hover {
            border: none !important;
        }
    }

    p {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #18253d;
        margin-top: 10px !important;
    }

    h4 {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #18253d;
        margin-top: 30px !important;
    }
}

.splash {
    min-height: 100vh;
    padding: 0;
}

.margin-top-zero {
    margin-top: 0 !important;
}

@media (max-width: 1000px) {
    .resources-container {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;

        a {
            word-break: break-word;
        }
    }
}
