.faq-wrapper {
  margin: 36px 0;
}

.faq {
  margin: 0 auto;

  @include breakpoint($medium) {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 160px;

    &__title {
      margin: 0;
      padding: 0;
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }
  }

  &__title {
    &:before {
      margin-bottom: 12px;
      width: 38px;
      height: 38px;
      border-radius: 32px;
      content: url(/assets/svg/faq.svg);
      background: linear-gradient(
        rgba(255, 149, 5, 0.5019607843),
        rgba(255, 149, 5, 0)
      );
      display: block;
      padding: 6px;
    }
  }
}

.faq-list {
  @include breakpoint($large) {
    margin-bottom: 100px;
  }

  dt {
    padding: $p-m 0;
    font-size: 20px;
    color: #000;
    font-weight: 500;

    @include breakpoint($medium) {
      padding: $p-l 0;
      font-size: 24px;
      line-height: 32px;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &__icon {
    align-self: flex-end;
    @include fa-icon();
    @extend .fa-plus;
    color: #2d69f6;
    margin-left: auto;
  }

  &--expanded {
    .faq-list__icon {
      @extend .fa-minus;
    }
  }

  dt {
    display: flex;

    &.faq-list--collapsed {
      border-bottom: 2px solid #dbd8df;

      & + dd {
        display: none;
      }
    }

    &.faq-list--expanded {
      border-bottom: none;

      & + dd {
        border-bottom: 2px solid #dbd8df;
        display: block;
      }
    }
  }

  dd {
    margin: 0;
    padding: $p-m 0;
    font-size: 16px;

    @include breakpoint($medium) {
      padding-bottom: $p-l 0;
    }
  }
}
