.faq {
  margin: 0 auto;

  @include breakpoint($medium) {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 160px;

    &__title {
      margin: 0;
      padding: 0;
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }
  }
}

.faq-list {
  dt {
    font-size: 20px;
    color: #000;
    font-weight: 500;

    @include breakpoint($medium) {
      padding: 20px 0;
      font-size: 24px;
      line-height: 32px;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &__icon {
    align-self: flex-end;
    @include fa-icon();
    @extend .fa-plus;
    color: #2d69f6;
  }

  dt {
    &.faq-list--collapsed {
      border-bottom: 2px solid #dbd8df;

      & + dd {
        display: none;
      }
    }

    &.faq-list--expanded {
      border-bottom: none;

      & + dd {
        border-bottom: 2px solid #dbd8df;
        display: block;
      }
    }
  }

  dd {
    margin: 0;

    @include breakpoint($medium) {
      padding-bottom: 20px;
    }
  }
}

