{% import "partials/language.html" as lang with context %}
<!DOCTYPE html lang="{{ lang.t('language') }}" class="no-js">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WireMock - flexible, open source API mocking | WireMock</title>
    {% for path in config.theme.css %}
    <link rel="stylesheet" href="{{ path | url }}" />
    {% endfor %} {% for path in config.extra_css %}
    <link rel="stylesheet" href="{{ path | url }}" />
    {% endfor %}
    <link
      href="https://fonts.googleapis.com/css?family=DM+Sans:300,300i,400,400i,700,700i%7CRoboto+Mono:400,400i,700,700i&amp;display=fallback"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />
  </head>
  <body class="static">
    {% set staticPage = true %} {% include "partials/header.html" %} {% block
    content %}
    <main class="content">{{ page.content }}</main>
    {% endblock %}

    <div class="page__footer">
      <footer>
        <div class="page__footer-copyright">
          <img src="/images/shortLogo.png" class="short-logo" />
          <span class="footer-copyright-description">© 2024</span>
          <ul class="footer-social-links">
            <li>
              <a href="http://github.com/wiremock" target="_blank">
                <img src="/images/githubIcon.svg" />
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    {% for path in config.extra_javascript %}
    <script src="{{ path | url }}"></script>
    {% endfor %}
  </body>
</html>
