---
const { title, description } = Astro.props;
---

<div data-slot="card" class="text-card-foreground flex flex-col gap-6 rounded-xl py-6 shadow-sm transition-all duration-200 hover:shadow-lg dark:bg-gray-800 backdrop-blur-sm border-1">
    <div data-slot="card-header" class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-2 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6 pb-4 text-center">
        <div class="flex items-center justify-center mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code h-10 w-10 text-blue-600">
            <polyline points="16 18 22 12 16 6"></polyline>
            <polyline points="8 6 2 12 8 18"></polyline>
        </svg></div>
        <div data-slot="card-title" class="font-semibold text-2xl">{title}</div>
        <p class="dark:text-gray-300 text-gray-600 text-sm">{description}</p>
    </div>
    <div data-slot="card-content" class="px-6 pt-0">
        <div class="space-y-4">
            <slot />
        </div>
    </div>
</div>