:root {
    --wm-blue: #0FB2EF;
    --wm-blue-dark: #2D69F6;
    --wm-orange: #FF9505;
    --wm-light-blue: #F0F5FF;
    --wm-white: #FFFFFF;
  }

.wm-button {
    height: 100%;
    right: 0;
    padding: 0 0.5rem;
    outline: none;
    height: 40px;
    background-color: var(--wm-light-blue);
    border: 3px solid var(--wm-blue);
    border-radius: 5px;
    font-weight: bold;
    color: var(--wm-blue);
    cursor: pointer;
}

.wm-left {
    float: left;
}

.wy-side-nav-search {
    background-color: var(--wm-blue);
}

.md-nav__item--section>.md-nav__link[for] {
    color: var(--wm-blue);
}

.md-typeset h1 {
    color: var(--wm-blue); 
}

h2 {
    color: var(--wm-blue); 
}

h3 {
    color: var(--wm-blue); 
}

h4 {
    color: var(--wm-blue); 
}

.md-header {
    background-color: var(--wm-white);
    margin: 0 auto;
}

.md-search {
    padding: 0.2rem 2rem;
}

body > div.md-container > nav > div > ul > li:last-child {
    position: absolute;
    right: 1em;
}

.slack-help-box {
    background-color: #f2f2f2;
    border: #c8c8c8 1px solid;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: inline;
    margin-bottom: 1cm;
}

.slack-help-box a {
    font-size: normal;
    width: max-content;
    height: max-content;
    color: black;
    text-decoration: none !important; 
}

.slack-help-box a div {
    display: inline;
    padding-right: 10px;
    color: inherit;
}

.slack-help-box a div img {
    vertical-align: sub;
    height: 22px;
    width: 22px;
};
