---
layout: default
---

<div id="main" class="custom-doc-wrapper" role="main">

  {% if page.collection == 'studio_docs' %}
    {% include studio-docs-sidebar.html %}
  {% else %}
    {% include docs-sidebar.html %}
  {% endif %}

  

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.seo_title %}<meta itemprop="headline" content="{{ page.seo_title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div style="background-color: #f2f2f2;border: #c8c8c8 1px solid;padding: 8px;margin-bottom:32px;">
      <a href="{{site.community_slack.join_url}}"><img src="{{ '/images/slack-logo-medium.png' | absolute_url }}" alt="Slack logo" style="vertical-align:sub;height:22px;margin-left:7px;margin-right:8px"/></a>
      Need help? Join the <a href="{{site.community_slack.join_url}}">WireMock community Slack</a>
    </div>

    {% if site.wiremock_baseline == site.data.baselines.current.id %} 
    <div style="background-color: #f2f2f2;border: #c8c8c8 1px solid;padding: 8px;margin-bottom:32px;">
      This document is for the WireMock {{ site.data.baselines.current.id }} baseline.
      See the documentation for WireMock {{ site.data.baselines.preview.id }} preview 
      <a href="{{  page.url | prepend: site.data.baselines.preview.id | prepend: '/'  | absolute_url }}">here</a>
    </div>
    {% else %}
      {% if site.wiremock_baseline == site.data.baselines.preview.id %} 
      <div style="background-color: #f2f2f2;border: #c8c8c8 1px solid;padding: 8px;margin-bottom:32px;">
        <b>WARNING: </b>
        This document is for WireMock {{ site.data.baselines.preview.id }} preview.
        See the documentation for the current WireMock {{ site.data.baselines.current.id }} baseline
        <a href="{{  page.url | prepend: site.data.baselines.current.id | prepend: '/'  | absolute_url }}">here</a>.
        If you are interested to know more what is planned for WireMock {{ site.data.baselines.preview.id }}, 
        see
        <a href="{{  site.data.baselines.preview.scopeUrl | absolute_url }}">this page</a>.
      </div>
      {% else %}
      <div style="background-color: #f2f2f2;border: #c8c8c8 1px solid;padding: 8px;margin-bottom:32px;">
        <b>WARNING: </b>
        This document is for an old WireMock {{ site.wiremock_baseline }} baseline.
        See the documentation for the current WireMock {{ site.data.baselines.current.id }} baseline
        <a href="{{  page.url | prepend: site.data.baselines.current.id | prepend: '/'  | absolute_url }}">here</a>
      </div>
      {% endif %}  
    {% endif %}

    <div class="page__inner-wrap">
      <header>
        {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
      </header>

      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}
    </div>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
