name: Continuous Integration

on:
  push:
    # Not needed for main, we have CD there
    branches: [ "2.x" ]
  pull_request:
    branches: [ "main", "2.x" ]
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Setup Ruby
        uses: ruby/setup-ruby@55283cc23133118229fd3f97f9336ee23a179fcf # v1.146.0
        with:
          ruby-version: '2.7.2' # Not needed with a .ruby-version file
          bundler: '2.4.10'
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically
          cache-version: 3 # Increment this number if you need to re-download cached gems
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
      - name:  Update RubyGems and Co
        run: gem update
      - name: Install Ruby Bundles
        run: bundle install
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: bundle exec jekyll build --config '_config.yml' --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: development
      - name: Build 2.x with Jekyll
        # Outputs to the './_site' directory by default
        run: |
          cd .submodules/wiremock.org-2.x
          bundle exec jekyll build --config '../../_config.yml,../../_config-2.x.yml' --baseurl "${{ steps.pages.outputs.base_path }}/2.x"
        env:
          JEKYLL_ENV: development
# TODO: Add 3.x build? It is just a config file tweak, so maybe better to not slowdown for now


# TODO: Uncomment when cleaned up (if ever)
#      - name: Validate HTML and links
#        uses: anishathalye/proof-html@v2
#        with:
#          directory: ./_site
#          enforce_https: false
      - name: Upload artifact
        # Automatically uploads an artifact from the './_site' directory by default
        uses: actions/upload-pages-artifact@v1
